<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AnnotationTool</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Importação de textos para anotação</description>
    <display-name>TextImport</display-name>
    <servlet-name>TextImport</servlet-name>
    <servlet-class>servlets.TextImport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextImport</servlet-name>
    <url-pattern>/servlets/TextImport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>servlets.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/servlets/Authentication</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Tokenizer</display-name>
    <servlet-name>Tokenizer</servlet-name>
    <servlet-class>servlets.Tokenizer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tokenizer</servlet-name>
    <url-pattern>/Tokenizer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextReview</display-name>
    <servlet-name>TextReview</servlet-name>
    <servlet-class>servlets.TextReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextReview</servlet-name>
    <url-pattern>/servlets/TextReview</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UserPermissionFilter</filter-name>
    <filter-class>filters.UserPermissionFilter</filter-class>
    <init-param>
      <param-name>skip-urls</param-name>
      <param-value>/index.jsp,projectSelection.jsp,painel.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserPermissionFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>filters.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TextAnnotation</display-name>
    <servlet-name>TextAnnotation</servlet-name>
    <servlet-class>servlets.TextAnnotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextAnnotation</servlet-name>
    <url-pattern>/servlets/TextAnnotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewProject</display-name>
    <servlet-name>NewProject</servlet-name>
    <servlet-class>servlets.NewProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProject</servlet-name>
    <url-pattern>/servlets/NewProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>servlets.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/servlets/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnotationAssistant</display-name>
    <servlet-name>AnnotationAssistant</servlet-name>
    <servlet-class>servlets.AnnotationAssistant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnotationAssistant</servlet-name>
    <url-pattern>/servlets/AnnotationAssistant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextList</display-name>
    <servlet-name>TextList</servlet-name>
    <servlet-class>servlets.TextList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextList</servlet-name>
    <url-pattern>/servlets/TextList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextAdjudication</display-name>
    <servlet-name>TextAdjudication</servlet-name>
    <servlet-class>servlets.TextAdjudication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextAdjudication</servlet-name>
    <url-pattern>/servlets/TextAdjudication</url-pattern>
  </servlet-mapping>
</web-app>